<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625978574879-r943q7fnmra0l3b7qupb2hkg8ulgfbb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625978574879-r943q7fnmra0l3b7qupb2hkg8ulgfbb7</string>
	<key>API_KEY</key>
	<string>AIzaSyD7C9gtNws06xO59PcgI4BYJ4XXEGW_kWM</string>
	<key>GCM_SENDER_ID</key>
	<string>625978574879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstApp</string>
	<key>PROJECT_ID</key>
	<string>is767-2021-icovid</string>
	<key>STORAGE_BUCKET</key>
	<string>is767-2021-icovid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625978574879:ios:2163225e261bede54d6d2a</string>
</dict>
</plist>